@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu&display=swap');


html {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
}

body {
    padding: 1rem 2rem;
}

h1 {
    text-align: center;
    min-width: max-content;
    color: rgb(41, 41, 41);
}

button {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    text-transform: uppercase;
    border: none;
    line-height: 200%;
    background-color: #2c7592;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 2px;
    transition: 0.3s;
    cursor: pointer;
    margin-block: 0.5rem;
}

button:hover {
    background-color: #1b4c5f;
    letter-spacing: 3.5px;
}

.timeNow {
    text-align: center;
    font-size: 1.3rem;
    min-width: max-content;
}